* {
  font-family: "Comfortaa", sans-serif;
}

html, body {
  overflow-x: hidden !important;
}

img, div, ul, li, section {
  max-width: 100% !important;
  box-sizing: border-box;
}

@keyframes slide-up {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-down {
  animation: slide-down 0.7s ease-out forwards;
}

.animate-slide-up {
  animation: slide-up 0.7s ease-out forwards;
}

.animate-slide-left {
  animation: slide-left 0.7s ease-out forwards;
}

.animate-slide-right {
  animation: slide-right 0.7s ease-out forwards;
}

@keyframes custom-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.custom-spin {
  animation: custom-spin 2s linear infinite;
}