---

layout: base
title: My Blogs
permalink: /blogs/

---

<div>

    <div class="flex flex-col gap-2">
        {% if site.blog != empty %}
            {% assign sorted_posts = site.blog | sort: "date" | reverse %}
            {% for post in sorted_posts %}

            <a href="{{ post.url | relative_url }}">
                <div class="rounded px-0 md:px-2 py-4 hover:bg-gray-800 hover:shadow-xl cursor-pointer flex items-center gap-4">
                    <div class="colorBox h-20 w-20 bg-white rounded m-1 p-2 animate-slide-left">
                    </div>
                    <div class="animate-slide-right">
                        <h2 class="text-mb md:text-lg text-gray-100">{{ post.title }}</h2>
                        <p class="text-xs md:text-sm text-gray-300">{{ post.date | date: "%B %d, %Y" }}</p>
                        <p class="text-xs md:text-sm mt-3 text-gray-400">{{ post.excerpt | strip_html | truncate: 150 }}</p>
                    </div>
                </div>
            </a>

            {% endfor %}
        {% else %}

            <p class="text-orange-400 py-4 animate-slide-right">Blogs not posted yet.</p>

        {% endif %}
    </div>
</div>