---

layout: base
title: My Projects
permalink: /projects/

---

<div>

    <div class="mt-4 mb-6 flex flex-wrap justify-start gap-3">
        <button class="filter-btn text-gray-300 border border-gray-700 shadow-lg hover:border-indigo-700 hover:shadow-xl transition-all duration-300 animate-slide-left hover:text-indigo-400 px-5 py-2 rounded-md text-sm sm:text-base" data-label="all">
            All
        </button>
        <button class="filter-btn text-gray-300 border border-gray-700 shadow-lg hover:border-indigo-700 hover:shadow-xl transition-all duration-300 animate-slide-left hover:text-indigo-400 px-5 py-2 rounded-md text-sm sm:text-base" data-label="Web App">
            Web Apps
        </button>
        <button class="filter-btn text-gray-300 border border-gray-700 shadow-lg hover:border-indigo-700 hover:shadow-xl transition-all duration-300 animate-slide-left hover:text-indigo-400 px-5 py-2 rounded-md text-sm sm:text-base" data-label="CLI">
            CLI
        </button>
        <button class="filter-btn text-gray-300 border border-gray-700 shadow-lg hover:border-indigo-700 hover:shadow-xl transition-all duration-300 animate-slide-left hover:text-indigo-400 px-5 py-2 rounded-md text-sm sm:text-base" data-label="Game">
            Games
        </button>
    </div>


    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-6 p-0 md:p-4">

        {% if site.data.projects != empty %}
            {% assign sorted_projects = site.data.projects | sort: "date" | reverse %}
            {% for project in sorted_projects %}
                <div class="project-card max-w-sm bg-transparent text-white rounded-xl shadow-lg overflow-hidden border border-gray-700 shadow-lg hover:border-indigo-700 hover:shadow-xl transition-all duration-300 animate-slide-up" data-label="{{ project.label | join: ',' }}">
                    <div class="h-48 overflow-hidden">
                        {% if project.image %}
                            <img src="{{ project.image }}" alt="{{ project.title }}" class="h-full w-full object-cover animate-slide-up">
                        {% else %}
                            <img src="{{ site.baseurl }}/assets/image/project/default.gif" alt="{{ project.title }}" class="h-full w-full object-cover animate-slide-up">
                        {% endif %}
                    </div>

                    <div class="p-4 space-y-2">
                        <h2 class="text-xl font-semibold">{{ project.title }}</h2>
                        <p class="text-sm text-gray-400">
                            {{ project.description }}
                        </p>
                        <div class="absolute top-1 right-1 flex gap-3 p-2">
                            {% if project.github %}
                            <a href="{{ project.github }}" class="px-3 py-2 border border-gray-700 shadow-lg hover:border-indigo-700 hover:shadow-xl transition-all duration-300 animate-slide-right hover:text-indigo-400 rounded-lg">
                                <span class="bi bi-github text-2xl"></span>
                            </a>
                            {% endif %}

                            {% if project.visit %}
                            <a href="{{ project.visit }}" class="px-3 py-2 border border-gray-700 shadow-lg hover:border-indigo-700 hover:shadow-xl transition-all duration-300 animate-slide-right hover:text-indigo-400 rounded-lg">
                                <span class="bi bi-link-45deg text-2xl"></span>
                            </a>
                            {% endif %}
                        </div>
                        <div class="flex flex-wrap gap-2">
                            {% for i in project.label %}
                            <span class="text-xs px-3 py-1 rounded-xl bg-indigo-600 animate-slide-left">{{ i }}</span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p class="text-orange-400 py-4 animate-slide-right">Projects not builded yet.</p>
        {% endif %}
    </div>
</div>

<script src="{{ site.baseurl }}/assets/js/projectFilter.js"></script>